
/*--------------- =Reset ---------------------*/

html, body, div, span, applet, object, iframe,
blockquote, pre, h1, h2, h3, h4,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

h1, h2, h3 {
	margin:0;
	padding:0;
}


/* -----------------=HTML------------ */

html{
	font-size: 16px;
}

/*--------------- =Main ---------------------*/

body{
	background: url("../img/paws.png") repeat-x;
	font-size: 62.5%;
}

#main_content {
	background: #e7e7e7;
	padding: 10px 9px; /* 9 / 960 */
	overflow: hidden;
}

#wrapper{
	background-color: #e7e7e7;
	max-width: 960px;
	margin: 0 auto;
	-webkit-box-shadow:  0 0 10px 5px #a6a6a6;
	-moz-box-shadow:  0 0 10px 5px #a6a6a6;
    box-shadow:  0 0 10px 5px #a6a6a6;
}


/*--------------- =Banner ---------------------*/

#banner{
	padding: 10px 2.0833333%;
	background: url("http://subtlepatterns.com/patterns/lightpaperfibers.png");
	overflow: hidden;
}

#banner_img{
	width: 99px;
	float: left;
}

#logo{
	width: 155px;
	float: left;
	margin-top: 50px;
}

#social_media{
	float: right;
}

#social_media a:hover{
	border-bottom: 1px inset #555f7d;
}
/*--------------- =Navigation ---------------------*/

nav {
	overflow: hidden;
	/* background: #00207e; */
	background: #23347a;
	width: 100%;
	height: 61px;
	clear: both;
}

nav li {
	list-style: none;
	float: left;
}

nav a{
	height: 61px;
	width: 192px; /* 20% */
	display: block;
	background: url(../img/nav.png) no-repeat 0 0;
	text-indent: -999999px;
}

/*
nav a{
	color: #ffffff;
	font: 1.5em "Helvetica Neue", sans-serif;
	text-decoration: none;
	display: block;
	line-height: 1.5em;
}
*/

#lower_nav{
	margin: 0 auto;
	width: 46.875%; /* 450px */
	padding: 10px 0;
}

#lower_nav ul {
	overflow: hidden;
}

#lower_nav li {
	float: left;
	padding: 0 10px;  /* 01.0416667% */
	border-right: 1px solid #ffffff;
	font-size: 1.0em;
}

#lower_nav li:last-child {
	border: none;
}

#lower_nav a {
	color: #ffffff;
}

/*------------------------------ Our Puppies Button */

#our_puppies_link a{
	background-position: 0 0; 
}

#our_puppies_link a:hover{
	background-position: 0px -61px; 
}

#our_puppies_link a:active{
	background-position: 0px -122px; 
}

#active_puppies a{
	background-position: 0px -183px; 
}

/*------------------------------ Our Guarantee Button */
#our_guarantee_link a{
	background-position: -192px 0; 
}

#our_guarantee_link a:hover{
	background-position: -192px -61px; 
}

#our_guarantee_link a:active{
	background-position: -192px -122px; 
}

#active_guarantee a{
	background-position: -192px -183px; 
}

/*------------------------------ Puppy Health Button */
#puppy_health_link a{
	background-position: -384px 0; 
}

#puppy_health_link a:hover{
	background-position: -384px -61px; 
}

#puppy_health_link a:active{
	background-position: -384px -122px; 
}

#active_vet a{
	background-position: -384px -183px; 
}

/*------------------------------ Client Photos Button */
#client_photos_link a{
	background-position: -576px 0; 
}

#client_photos_link a:hover{
	background-position: -576px -61px; 
}

#client_photos_link a:active{
	background-position: -576px -122px; 
}

#active_gallery a{
	background-position: -576px -183px; 
}

/*------------------------------ About Us Button */
#about_us_link a{
	background-position: -768px 0; 
}

#about_us_link a:hover{
	background-position: -768px -61px; 
}

#about_us_link a:active{
	background-position: -768px -122px; 
}

#active_about_us a{
	background-position: -768px -183px; 
}

/*--------------- =Global ---------------------*/

h1, h2 {
	color: #333234;
	font-family: 'Fredoka One', cursive;
	margin: 10px 0;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	color: #ffffff;
	font-size: 1.8em;
}

h4{
	font-size: 1.5em;
	padding-bottom: 5px;
	font-weight: bolder;
}

p, a {
	font: 1.2em "Helvetica Neue", sans-serif;
	line-height: 1.5em;
}

a{
	color: #00207d;
	text-decoration: none;
}

a:hover{
	color: #878579;
	text-decoration: underline;
}

a:active{
	color: #debd5f;
}

li{
	font: 1.2em "Helvetica Neue", sans-serif;
}

/*--------------- =Banner ---------------------*/



/*--------------- =Home Page ---------------------*/

#carousel img {
	width: 100%;
}

/*
#carousel {
        width: 480px;
        overflow:hidden;
    }

#carousel ul {
        width: 1920px;
        padding: 0;
        margin: 0;
    }

#carousel ul li {
        width:480px;
        text-align: center;
        height: 280px;
        list-style: none;
        float:  left;
    }
*/

#mission{
	background-color: #555f7d;
	text-align: center;
	color: #ffffff;
}

#mini_featured{
	width: 35.4166667%; /* 340px */ 
	float: left;
	margin-left: 10px;
}

#mini_featured h1, #view_all{
	float: left;
}

#view_all{
	margin: 15px 0 0 45px;
}

#coonhound, #chiweenie{
/* 	width: 153px; */
	float: left;
}

#mini_featured figcaption{
	line-height: 10px;
}

#mini_featured img{
	border: 2px solid #555f7d;
}


#mini_featured img:hover{
	border: 2px solid #8899cb;
}

#coonhound a:hover, #chiweenie a:hover {
	color: #00207d;
}


#mini_about_us{
	width: 54.375%; /* 522px */
	float: left;
	margin-left: 2.0833333%; /* 20px */
}

#mini_about_us p{
	float:left;
	margin-top: 10px;
}

#about_us_link{
	float:right;
	margin-bottom: 20px;
}

#about_us_link a{
	text-decoration: underline;
}

#mini_about_us img{
	margin-right: .5208333%; /* 5px */
}

#store_front{
	float: left;
	border: 2px solid #555f7d;
}

#address ul{
	float: left;
	margin-left: 11px;
}

#certificates{
	float: left;
	margin: 20px 0 0 1.1458333%; /* 11px */
}

#certificates li{
	width: 8.0208333%; /* 77px */
	float: left;
	margin-right: 20px; /* 2.0833333% */ 
}

#address li:nth-child(1){
	font-weight: bolder;
}

#certificates li:nth-child(3){
	margin-top: 30px;
}

/*--------------- =Puppy Gallery ---------------------*/


figure {
	position: relative;
	float: left;
	width: 200px;
	margin: 0 35px 10px 0;
}

#featured figure img, #more_puppies figure img{
	-moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.detailed{
	position: absolute;
	bottom: 5px;
	background-color: rgba(51, 51, 51, .8);
	color: #e1e1e1;
	width: 213px;
	padding-left: 10px;
}

#featured .detailed{
	background-color: rgba(0, 32, 125, .8);
}

#more_puppies{
	clear: left;
}

#pagination{
	margin: 0 auto;
	width: 285px;
	padding: 10px 0;
}

#pagination ul {
	overflow: hidden;
}

#pagination li {
	float: left;
	padding: 0 20px;
}

/*--------------- =Our Guarantee ---------------------*/

#guarantee li{
	margin-bottom: 10px;
}
#guarantee ul{
	margin-left: 20px;
	list-style-type: lower-latin;
}

#guarantee ol{
	list-style-type: upper-roman;
} 


/* ------------- =Puppy Health ------------------*/

#vet_header{

}

#vet{

}

#vet li{
	float: left;
	width: 440px; 
}

#vet ul, #vet img{
	float: left;
	overflow: hidden;
}

#east{
	background-color: #e5dfe1;
	border: 2px solid #bcb7b9;
	padding: 0 10px;
	margin-right: 10px;
}

#central{
	background-color: #e5dfe1;
	border: 2px solid #bcb7b9;
	padding: 0 10px;
	margin-bottom: 10px;
}

#west{
	background-color: #e5dfe1;
	border: 2px solid #bcb7b9;
	padding: 0 10px;
	margin-right: 10px;
}

#north{
	background-color: #e5dfe1;
	border: 2px solid #bcb7b9;
	padding: 0 10px;
}

#vet img{
	float: right;
}


/*--------------- =Client Photos ---------------------*/

#gallery {
	list-style: none;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
}

#gallery li {
	float: left;
	margin-right: 10px;
}

#gallery img {
	border: 3px solid #e1e1e1;
}

#gallery img:hover {
	border: 3px solid #555F7D;
	-moz-box-shadow: 0 0 3px 3px #555F7D;
	-webkit-box-shadow: 0 0 3px 3px #555F7D;
	box-shadow: 0 0 3px 3px #555F7D;
	
}
/*--------------- =About Us ---------------------*/

#about_us{
	background-color: #e5dfe1;
	border: 2px solid #bcb7b9;
	padding: 10px 7px 10px 7px;
	overflow: hidden;
}

#about_us p{
	margin-bottom: 5px;
}

#about_us img{
	border: 2px solid #555f7d;
	float: left;
	width: 301px;
	margin-right: 15px;
}

iframe{
	border: 2px solid #555f7d;
	float: left;
	margin-left: 15px;
}

#request{
	clear: left;
	width: 310px;
	float: left;
}

form{
	background-color: #E5DFE1;
	line-height: 24px;
	font: italic bold 1.2em "Helvetica Neue", sans-serif;
	color: #555f7d;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #9f9f9f;
	overflow: hidden;
}

form li{
	margin-bottom: 5px;
}

button{
	float: right;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#2f44a1 0%,
		#23347a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#2f44a1),
		to(#23347a));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #213273;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}


button.css3button:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#23347a 0%,
		#2f44a1);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#23347a),
		to(#2f44a1));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #213273;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}



#location{
	width: 600px;
	float: left;
	margin-left: 30px;
}

#location ul{
	float: left;
}

#location li:first-child{
text-decoration: underline;
	
}


#location img{
	float: left;
	width: 424px;
	border: 2px solid #555f7d;
	margin-left: 20px;
}

#location li:nth-child(1){
	font-weight: bolder;
}

#location li:nth-child(6){
	margin-top: 10px;
}

/*--------------- =Footer ---------------------*/

footer{
	background: #555f7d;
	color: #ffffff;
	text-align: center;
	padding: 2px 0;
	width: 100%;
	clear: both;
}

/* ------------- Media Queries ---------------*/

@media screen and (max-width: 960px){

	#wrapper{
		width: 100%;
		}
}

@media screen and (max-width: 600px){

	#wrapper{
		width: 100%;
	}
}

@media screen and (max-width: 480px){

	#wrapper{
		width: 100%;
	}
}