
/*--------------- =Reset ---------------------*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

h1, h2, h3 {
	margin:0;
	padding:0;
}


/* -----------------=HTML------------ */

html{
	font-size: 16px;
}

/*--------------- =Main ---------------------*/

body{
	background: url("../img/paws.png") repeat-x;
	font-size: 62.5%;
}

#main_content {
	background: #e7e7e7;
	padding: 10px 9px; /* 9 / 960 */
	overflow: hidden;
}

#wrapper{
	background-color: #ffffff;
	max-width: 960px;
	margin: 0 auto;
	-webkit-box-shadow:  0 0 10px 5px #a6a6a6;
	-moz-box-shadow:  0 0 10px 5px #a6a6a6;
    box-shadow:  0 0 10px 5px #a6a6a6;
}


/*--------------- =Banner ---------------------*/

#banner{
	padding: 10px 2.0833333%;
}

#banner_img{
	width: 99px;
	float: left;
}

#logo{
	width: 155px;
	float: left;
	margin-top: 50px;
}

#social_media{
	float: right;
}

/*--------------- =Navigation ---------------------*/

nav {
	overflow: hidden;
	/* background: #00207e; */
	background: #23347a;
	width: 100%;
	clear: both;
}

nav li {
	list-style: none;
	float: left;
}

/*
nav a{
	color: #ffffff;
	font: 1.5em "Helvetica Neue", sans-serif;
	text-decoration: none;
	display: block;
	line-height: 1.5em;
}
*/

nav a{
	height: 61px;
	width: 166px;
	display: block;
	background: url(../img/nav2.png) no-repeat 0 0;
	text-indent: -999999px;
}


nav li a:hover{
	color: #ffffff;
}


#lower_nav{
	margin: 0 auto;
	width: 450px;
}

#lower_nav ul {
	overflow: hidden;
}

#lower_nav li {
	float: left;
	padding: 0 10px;
	border-right: 1px solid #ffffff;
	font-size: 1.0em;
}

#lower_nav li:last-child {
	border: none;
}

#lower_nav a {
	color: #ffffff;
}

/*
#lower_nav a:hover {
	text-decoration: underline;
}
*/

/*------------------------------ Our Puppies Button */

#our_puppies_link a{
	background-position: 0 0; 
}

#our_puppies_link a:hover{
	background-position: 0px -63px; 
}

#our_puppies_link a:active{
	background-position: 0px -126px; 
}

/*------------------------------ Our Guarantee Button */
#our_guarantee_link a{
	background-position: -166px 0; 
}

#our_guarantee_link a:hover{
	background-position: -166px -63px; 
}

#our_guarantee_link a:active{
	background-position: -166px -126px; 
}

/*------------------------------ Puppy Health Button */
#puppy_health_link a{
	background-position: -332px 0; 
}

#puppy_health_link a:hover{
	background-position: -332px -63px; 
}

#puppy_health_link a:active{
	background-position: -332px -126px; 
}


/*------------------------------ Client Photos Button */
#client_photos_link a{
	background-position: -498px 0; 
}

#client_photos_link a:hover{
	background-position: -498px -63px; 
}

#client_photos_link a:active{
	background-position: -498px -126px; 
}


/*------------------------------ About Us Button */
#about_us_link a{
	background-position: -664px 0; 
}

#about_us_link a:hover{
	background-position: -664px -63px; 
}

#about_us_link a:active{
	background-position: -664px -126px; 
}



/*--------------- =Global ---------------------*/

h1, h2 {
	color: #333234;
	font-family: 'Fredoka One', cursive;
	margin: 10px 0;
}

h3 {
	color: #ffffff;
	font-size: 1.8em;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2.2em;
}

p, a {
	font: 1.2em "Helvetica Neue", sans-serif;
	line-height: 1.5em;
}

a{
	color: #00207d;
	text-decoration: none;
}

a:hover{
	color: #878579;
	text-decoration: underline;
}

a:active{
	color: #debd5f;
}

li{
	font: 1.2em "Helvetica Neue", sans-serif;
}

/*--------------- =Banner ---------------------*/



/*--------------- =Home Page ---------------------*/

#carousel img {
	width: 100%;
}

#mission{
	background-color: #555f7d;
	text-align: center;
	color: #ffffff;
}

#mini_featured{
	width: 320px; /* 36.5625% */ 
	float: left;
}

#mini_featured ul{
	display:inline
}

#view_all{
	margin: 15px 0 0 45px;
}

#mini_featured img{
	width: 153px;
	clear: left;
	border: 2px solid #555f7d;
}


#mini_featured img:hover{
	border: 2px solid #8899cb;
}

#mini_featured h1, #view_all{
	float: left;
}

#coonhound, #chiweenie{
	width: 145px;
	float: left;
	margin-right: 15px;
}

/*
#coonhound a, #chiweenie a {
	text-decoration: none;
}
*/

#coonhound a:hover, #chiweenie a:hover {
	color: #00207d;
}


#mini_about_us{
	width: 600px;
	float: left;
	margin-left: 20px;
}

#mini_about_us p{
	float:left;
}

#store_front{
	float: left;
	border: 2px solid #555f7d;
}

#address ul{
	float: left;
	width: 390px;
	margin-left: 11px;
}

#certificates{
	float: left;
	margin: 20px 0 0 11px;
}

#certificates li{
	width: 77px;
	float: left;
	margin-right: 20px; 
}

#address li:nth-child(1){
	font-weight: bolder;
}

#certificates li:nth-child(3){
	margin-top: 30px;
}
/*--------------- =About Us ---------------------*/

#about_us{
	background-color: #e5dfe1;
	border: 2px solid #bcb7b9;
	padding: 0 7px;
}


#about_us img{
	border: 2px solid #555f7d;
	float: left;
	width: 301px;
	margin-right: 15px;
}

#request{
	clear: left;
	width: 310px;
	float: left;
}

form{
	background: -webkit-linear-gradient(#ddd7d9 12.25%, #e5dfe1 100%);
	background: -moz-linear-gradient(#d8d5df 42.72%, #d8d5df 100%);
	line-height: 24px;
	font: italic bold 1.2em "Helvetica Neue", sans-serif;
	color: #555f7d;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #9f9f9f;
}

form li{
	margin-bottom: 5px;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

#location{
	width: 600px;
	float: left;
	margin-left: 30px;
}

#location ul{
	float: left;
}

#location img{
	float: left;
	width: 424px;
	border: 2px solid #555f7d;
	margin-left: 20px;
}

#location li:nth-child(1){
	font-weight: bolder;
}

#location li:nth-child(6){
	margin-top: 10px;
}



/*--------------- =Puppy Gallery ---------------------*/

/*
#featured li, #more_puppies li{
	position: relative;
	float: left;
	width: 200px;
}

.detailed{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(51, 51, 51, .8);
}

#featured .detailed{
	background-color: rgba(0, 32, 125, .8);
}

#more_puppies{
	clear: left;
}

#main_content{
	overflow: hidden;
}

#pagination{
	clear: both;	
}

#pagination ul{
	width: 30%;
	margin: 0 auto;
}

#pagination li{
	float: left;
	margin-right: 40px;
}
*/


/*--------------- =Footer ---------------------*/

footer{
	background: #555f7d;
	color: #ffffff;
	text-align: center;
	padding: 2px 0;
	width: 100%;
	clear: both;
}

/* ------------- Media Queries ---------------*/

@media screen and (max-width: 960px){

	#wrapper{
		width: 100%;
		}
}

@media screen and (max-width: 600px){

	#wrapper{
		width: 100%;
	}
}

@media screen and (max-width: 480px){

	#wrapper{
		width: 100%;
	}
}