
/*--------------- =Reset ---------------------*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


/* -----------------=HTML------------ */

html{
	font-size: 16px;
}

/*--------------- =Main ---------------------*/

body{
	background: url("../img/paws.png") repeat-x;
	font-size: 62.5%;
}

#main_content {
	background: #f0eaec;
	padding: 10px 9px; /* 9 / 960 */
	overflow: hidden;
}

#wrapper{
	background-color: #ffffff;
	max-width: 960px;
	margin: 0 auto;
	-webkit-box-shadow:  0 0 10px 5px #a6a6a6;
	-moz-box-shadow:  0 0 10px 5px #a6a6a6;
    box-shadow:  0 0 10px 5px #a6a6a6;
}


/*--------------- =Banner ---------------------*/

#banner{
	padding: 10px 2.0833333%;
}

#banner_img{
	width: 99px;
	float: left;
}

#logo{
	width: 155px;
	float: left;
	margin-top: 50px;
}

#social_media{
	float: right;
}

/*--------------- =Navigation ---------------------*/

nav {
	overflow: hidden;
	background: #00207e;
	width: 100%;
	clear: both;
}

nav li {
	list-style: none;
	float: left;
	margin-left: 35px; /* 4.1666667% */
}

nav li a{
	color: #ffffff;
	font: 1.5em "Helvetica Neue", sans-serif;
	text-decoration: none;
	display: block;
	line-height: 1.5em;
}

nav li a:hover{
	color: #c3c3c3;
}




/*--------------- =Global ---------------------*/

h1, h2 {
	color: #333234;
	font-family: 'Fredoka One', cursive;
}

h3 {
	color: #ffffff;
	font-size: 1.8em;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2.2em;
}

p, a {
	font: 1.2em "Helvetica Neue", sans-serif;
	line-height: 1.5em;
}


/*--------------- =Home Page ---------------------*/

#carousel img{
	width: 100%;
}

#mission{
	background-color: #555f7d;
	text-align: center;
	color: #ffffff;
}

#mini_featured{
	width: 320px; /* 36.5625% */ 
	float: left;
}

#mini_featured img{
	width: 153px;
	clear: left;
}

#mini_featured h1, #view_all{
	float: left;
}

#coonhound, #chiweenie{
	width: 155px;
	float: left;
}

#mini_about_us{
	width: 622px;
	float: left;
}

#mini_about_us p{
	float:left;
}

#store_front{
	width: 189px;
	float: left;
}

#address ul{
	width: 155px;
	float: left;
}

#certificates{
	width: 205px;
	float: left;
}

#certificates li{
	width: 77px;
	float: left;
}

/*--------------- =About Us ---------------------*/

/*
#about_us img{
	border: 2px solid #555f7d;
	width: 400px;
	float: left;
}
s
#about_us p{
	float: left;
}

#form{
	clear: left;
}
*/

/*--------------- =Puppy Gallery ---------------------*/

/*
#featured li, #more_puppies li{
	position: relative;
	float: left;
	width: 200px;
}

.detailed{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(51, 51, 51, .8);
}

#featured .detailed{
	background-color: rgba(0, 32, 125, .8);
}

#more_puppies{
	clear: left;
}

#main_content{
	overflow: hidden;
}

#pagination{
	clear: both;	
}

#pagination ul{
	width: 30%;
	margin: 0 auto;
}

#pagination li{
	float: left;
	margin-right: 40px;
}
*/


/*--------------- =Footer ---------------------*/

footer{
	background: #00207d;
	color: #ffffff;
	text-align: center;
	padding: 2px 0;
	width: 100%;
	clear: both;
}

/* --------------------------- Media Queries ----------------------*/

@media screen and (max-width: 960px){

	#wrapper{
		width: 100%;
		}
}

@media screen and (max-width: 600px){

	#wrapper{
		width: 100%;
	}
}

@media screen and (max-width: 480px){

	#wrapper{
		width: 100%;
	}
}